body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#FFFDFA;
    margin: 0;
    color: #F5A754;
    padding: 0;
}

.nav-links{
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
    width: 100%;
}

ul li a, .header{
    display: flex;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
    align-items: center;
}

a:hover{
    color: #000000;
}

.header{
    text-align: center;
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    margin-right: 55px;
    width: 90px;
}

.image-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 900px; 
}

.image-container img{
    width: 90%;
    height: 50%;
    object-fit: cover;
    opacity: 0.6;
    margin-bottom: 0%;
}

/*LOGO*/
.logo-container{
    width: 100%;
}

.logo-container .logo{
    width: 230px;
    height: 230px;
    margin-bottom: -60px;
    margin-top: -60px;
}

.welcome-container{
    height: 100%;
}

.welcome{
    position: relative;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;
    margin-top: -750px;
    font-weight: bold;
    font-size: 40px;
}

.btn{
    position: relative;
    font-size: 20px;
    border-radius: 4px;
    background-color: #F5A754;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn:hover{
    background-color:#ffffff;
    color: #000000;
}

.offer-container{
    width: 100%;
}

.offer{
    position: relative;
    color: #000000;
    margin-left: 150px;
    margin-top: 15%;
}

/*BOOKING CONTAINER*/
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
    gap: 50px;
}

/*TICKET BOOKING*/
.tickets-container{
    text-align: center;
    background-color: #D0E6FF;
    color: #000000;
    padding: 80px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: 1px solid #7CB9FF;
    
}

.types{
    color: #7CB9FF;
    margin-top: -60px;
    text-align: center;
    font-size: 30px;
    width: 100%;

}

.tickets{
    display: block;
    list-style-type: none;
    color: #000000;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 22px;
}

.book-container{
    margin-top: 50px;
}

.book{
    background-color: #7CB9FF;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
    
}

.book:hover{
    background-color: #ffffff;
    color: #7CB9FF;
}

/* HOTEL BOOKING*/
.hotel-container{
    text-align: center;
    background-color: #D0E6FF;
    color: #000000;
    padding: 80px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: 1px solid #7CB9FF;
}


.bookings{
    color: #7CB9FF;
    margin-top: -60px;
    text-align: center;
    font-size: 30px;
    width: 100%;
}

.hotels{
    display: block;
    list-style-type: none;
    color: #000000;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 22px;
}

.htl-container{
    margin-top: 50px;
}

.htl{
    background-color: #7CB9FF;
    color: #ffffff;
    padding: 20px;
    width: 150px;
    text-decoration: none;
    border-radius: 4px;
}

.htl:hover{
    background-color: #ffffff;
    color: #7CB9FF;
}

/*ABOUT US*/
.about-section{
    display: block;
    margin-bottom: 90px;
    margin-top: -80px;
}

.us{
    margin-bottom: -10px;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: #000000;
}

.text{
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    color: #000000;
}

/*CONTACT US*/
.contact-container{
    width: 100%;
}

.users{
    display: block;
    width: 100%;
    margin-bottom: -100px;
}

.contact{
    margin-left: 150px;
    color: #000000;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.semi{
    margin-left: 150px;
    font-weight:700;
    font-size: x-large;
    color: #000000;
}

.para{
    margin-left: 150px;
    font-weight: lighter;
    font-size: x-large;
    color: #000000;
}

.giraffe-container{
    float: right;
    width: 100%;
}

.giraffe-container, .giraffe{
     width: 200px;
     margin-left: -150px; 
     margin-top: -30px;
}

/*FORMS*/
.enquiry-container{
    width: 100%;
}

.enquiry{
   width: 490px;
   height: 30px;
   padding: 10px;
   font-size: 20px;
   margin-bottom: -10px;
   margin-left: 150px;
   text-align: center;
}

input, textarea{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    border-color: #7CB9FF;
    border-radius: 20px;
    border-style: solid;
}

.submit{
    background-color: #7CB9FF;
    border-style: none;
    padding: 10px 30px;
    color: #ffffff;
    border-radius: 4px;
    font-weight: bold;
}



.foot-container{
    display: flex;
    
    width: 100%;
}

.foot{
    background-color: #F5A754;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-weight: lighter;
}