body{
font-family:Arial, Helvetica, sans-serif;
background-color: #f4f4f9;
margin: 0;
padding: 20px;
}

.container {
max-width: 400px;
margin: 50px auto;
background-color: white;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}