body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#FFFDFA;
    margin: 0;
    color: #F5A754;
}

.nav-links{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, .header{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
}

li a {
    margin-top: 25px;
}

a:hover{
    color: #000000;
}

.header{
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 2550px;
    height: 1000px;
    
}

.image-container img{
    width: 90%;
    height: 50%;
    object-fit: cover;
    opacity: 0.6;
    margin-bottom: 0%;
    
}

.welcome{
    position: relative;
    text-align: center;
    color: #000000;
    margin-bottom: 12px;
    margin-top: -750px;
    font-weight: bold;
    font-size: 45px;
}

.welcome-container{
    height: 100%;
}

.btn{
    position: relative;
    font-size: 20px;
    border-radius: 4px;
    background-color: #F5A754;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn:hover{
    background-color:#ffffff;
    color: #000000;
}

.offer{
    position: relative;
    color: #000000;
    margin-left: 350px;
    margin-top: 150px;
}

/*BOOKING CONTAINER*/
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
    gap: 50px;
}

/*TICKET BOOKING*/
.tickets-container{
    text-align: center;
    background-color: #D0E6FF;
    color: #000000;
    padding: 180px;
    border-radius: 10px;
    border: 1px solid #7CB9FF;
}

.types{
    color: #7CB9FF;
    margin-top: -100px;
    text-align: center;
    font-size: 35px;
}

.tickets{
    display: block;
    list-style-type: none;
    color: #000000;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 22px;
}

.book-container{
    margin-top: 50px;
}

.book{
    background-color: #7CB9FF;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    border-radius: 4px;
    
}

.book:hover{
    background-color: #ffffff;
    color: #7CB9FF;
}

/* HOTEL BOOKING*/
.hotel-container{
    text-align: center;
    background-color: #D0E6FF;
    color: #000000;
    padding: 180px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #7CB9FF;
}


.bookings{
    color: #7CB9FF;
    margin-top: -100px;
    text-align: center;
    font-size: 35px;
}

.hotels{
    display: block;
    list-style-type: none;
    color: #000000;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 22px;
}

.htl-container{
    margin-top: 50px;
}

.htl{
    background-color: #7CB9FF;
    color: #ffffff;
    padding: 20px;
    width: 150px;
    text-decoration: none;
    border-radius: 4px;
}

.htl:hover{
    background-color: #ffffff;
    color: #7CB9FF;
}

/*ABOUT US*/
.about-section{
    display: block;
    margin-bottom: 90px;
    
}

.us{
    margin-bottom: -10px;
    text-align: center;
    font-weight: bolder;
    font-size: 45px;
    color: #000000;
}

.text{
    font-weight: lighter;
    text-align: center;
    font-size: x-large;
    color: #000000;
}

/*CONTACT US*/
.contact-container{
    width: 100%;
   
}

.contact{
    
    margin-left: 20px;
    color: #000000;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: -10px;
}

.semi{
    margin-left: 20px;
    font-weight:700;
    font-size: x-large;
    color: #000000;
}

.para{
    margin-left: 20px;
    font-weight: lighter;
    font-size: x-large;
    color: #000000;
}

.giraffe-container{
  
}

.giraffe-conainer, .giraffe{
     float: left;

}