body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#FFFDFA;
    margin: 0;
    color: #F5A754;
}

ul{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, .header{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
}

li a {
    margin-top: 25px;
}

a:hover{
    color: #000000;
}

.header{
    text-align: center;
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    text-decoration: none;
    padding: 20px 15px;
    height: 20px;
    margin-right: 60px;
    width: 70px;
}


.image-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 900px; 
}

.image-container img{
    width: 90%;
    height: 40%;
    object-fit: cover;
    opacity: 0.6;
    margin-bottom: 0%;
}

/*LOGO*/
.logo-container{
    width: 100%;
}

.logo-container .logo{
    width: 230px;
    height: 230px;
    margin-bottom: -60px;
    margin-top: -60px;
}

.welcome-container{
    display: flex;
    height: 100%;
    justify-content: center;
}

.welcome{
    position: relative;
    text-align: center;
    color: #ffffff;
    margin-bottom: 12px;
    margin-top: -750px;
    font-weight: bold;
    font-size: 40px;
}

.forms-container{
    display: block;
    text-align: center;
    color: #585E34;
    width: 100%;
}

.forms{
    margin-top: -450px;
    font-size: xx-large;
    font-weight: bold;
}

select{
    margin-top: 40px;
    border: 1px solid;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

input{ 
    border-style: 1px solid #585E34;
    border-radius: 10px;
    width: 600px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.types{
    margin-top: -20px;
    font-size: 20px;
}

.btn-container{
    margin-top: 30px;
}

.btn{
    background-color: #585E34;
    border: none;
    padding: 15px 32px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}