body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #F5A754;
}

ul{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, h2{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
}

a:hover{
    color: #000000;
}

h2{
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    margin-right: 15px;
}

.image{
    display: flex;
    margin-top: 5px;
    height: 750%;
    width: 770px;
}

/*.image-container{
    margin-top: 5px;
    width: 1000px;
    height: 100px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}*/

.container {
    display: block;
    position:absolute;
    top: 30%;
    right: 5%;
    margin-right: 470px;
}

.forms{
    cursor: pointer;
}

input{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: #F5A754;
    border-color: #F5A754;
    border-radius: 20px;
    border-style: solid;
}

input::placeholder{
    color: #F5A754;
    font-size: 15px;
    opacity: 0.5;
}

.link{
    color: #F5A754;
}

.btn {
    background-color: #F5A754;
    border: none;
    padding: 15px 32px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    
}


.foot{
    display: flex;
    background-color:#F5A754 ;
    color: #ffffff;
    justify-content: center;
    width:100%;
    left: 0;
    bottom: 0;
}