body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #F5A754;
}

.nav-links{
    display: flex;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
    width: 100%;
}

ul li a, .header{
    display: flex;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
    align-items: center;
}

a:hover{
    color: #000000;
}

.header{
    text-align: center;
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    text-decoration: none;
    padding: 25px 15px;
    margin-right: 55px;
    width: 90px;
}

.logo-container{
    width: 100%;
}

.logo-container .logo{
    width: 230px;
    height: 230px;
    margin-bottom: -60px;
    margin-top: -60px;
}

.image{
    display: flex;
    margin-top: 5px;
    height: 750%;
    width: 770px;
}

.container {
    position:absolute;
    top: 35%;
    right: 25%;
    text-align: center;
}

.forms{
    cursor: pointer;
}

input{
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: #F5A754;
    border-color: #F5A754;
    border-radius: 20px;
    border-style: solid;
    font-size: 20px;
}

input::placeholder{
    color: #F5A754;
    font-size: 20px;
    opacity: 0.5;
    text-align: center;
}

.link{
    color: #F5A754;
}

.btn {
    background-color: #F5A754;
    border: none;
    padding: 15px 32px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
}

.foot{
    display: flex;
    background-color:#F5A754 ;
    color: #ffffff;
    justify-content: center;
    width:100%;
    left: 0;
    bottom: 0;
}

