body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #F5A754;
}

.container {
    display:block;
    justify-content: center;

    position: absolute;
    right: 300px;
    width: 250px;
    margin-top: -900px;
    margin-right: -170px;
    
}

.image{
    margin-top: 5px;
    height: 60%;
    width: 60%;
}

.forms{
    cursor: pointer;
}

input{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: #F5A754;
    border-color: #F5A754;
    border-radius: 20px;
    
}

input::placeholder{
    color: #F5A754;
    font-size: 15px;
    opacity: 0.7;
}

ul{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, h2{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
}

a:hover{
    color: #000000;
}

h2{
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    margin-right: 15px;
}

.link{
    color: #F5A754;
}

.btn {
    background-color: #F5A754;
    border: none;
    padding: 15px 32px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    
}

.text{ 
    text-align:center;
}

.foot{
    display: flex;
    background-color:#F5A754 ;
    color: #ffffff;
    justify-content: center;
    
    width:100%;
    left: 0;
    bottom: 0;
}