body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    margin: 0;
    color: #F5A754;
}

.container {
    padding: 20px;
    position: absolute;
    right: 300px;
    width: 250px;
    margin-top: -800px;
}

.image{
    margin-top: 15px;
    margin-bottom:15px;
    width: 50%;
    height: 50%;
    display: flex;
}

.forms{
    cursor: pointer;
}

input{
    width: 190%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    color: #F5A754;
    border-color: #F5A754;
    border-radius: 34px;
}

input::placeholder{
    color: #F5A754;
}

ul{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, h2{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
}

h2{
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    margin-right: 15px;
}

.link{
    color: #F5A754;
}

.btn {
    background-color: #F5A754;
    border: none;
    padding: 15px 32px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    
}

.text{ 
    text-align:center;
}