body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#FFFDFA;
    margin: 0;
    color: #F5A754;
}

ul{
    display: flex;
    position: sticky;
    top: 0;
    list-style-type:none;
    margin: 0;
    padding: 0;
    background-color: #F5A754;
    justify-content: right;
}

ul li a, .header{
    display: flex;
    color: #ffffff;
    padding: 14px;
    text-decoration: none;
    
}

li a {
    margin-top: 25px;
}

a:hover{
    color: #000000;
}

.header{
    background-color: #ffffff;
    color: #F5A754;
    border-radius: 4px;
    margin-right: 15px;
    text-decoration: none;
    padding: 10px;
}

.image{
    display: flex;
    margin-top: 5px;
    height: 750%;
    width: 770px;
}