<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    <title>Homepage</title>
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="/aboutus">ABOUT US</a></li>
            <li><a href="/guides">GUIDES</a></li>
            <li><a href="/ticket">TICKET</a></li>
            <li><a href="/hotel">HOTEL</a></li>
            <li><a href="/login">LOGIN</a></li>
            <h2><a  class="header" href="/signup">SIGN UP</a></h2>
        </ul>
    </nav>

    <div >
        <div class="image-container">
            <img class="image" src="/static/Images/Zebras.jpg" alt="Image of Zebras">
        </div>

        <div class="welcome-container">
            <h1 class="welcome">WELCOME TO RIGET ZOO ADVENTURES</h1>
        </div>

        <div class="btn-container">
            <a class="btn" href="/ticket"><b>BOOK NOW</a>
        </div>
    </div>

    <div>
        <div>
            <h1 class="offer">What We Offer</h1>
        </div>

        <div class="tickets-container">
            <h2 class="types">Ticket Types</h2>
            <ul class="tickets">
                <li>One Day</li>
                <li> - </li>
                <li>Fast Track/Gift Cards</li>
                <li> - </li>
                <li>Annual Pass</li>
            </ul>
            <a class="book" href="/ticket">Book Tickets</a>
        </div>

        
    </div>

    <div>
        <div class="hotel-container">
            <h2 class="bookings">Hotel Bookings</h2>
            <ul class="hotels">
                <li>Try our In-site Hotels</li>
                <li> - </li>
                <li>Discounts Included</li>
            </ul>
            <a class="htl" href="/hotel">Book A Hotel</a>
        </div>
    </div>

    <div class="about-container">
        <h2 class="us">About Us</h2>
        <p class="text">Riget Zoo Adventures is Safari-Style wildlife zoo that offers  several things such as onsite hotel, educational visists for schools and students, with educatonal guides that supports their stay. </p>
    </div>


</body>
</html>