<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/ticket.css">
    <title>Book a Ticket</title>
</head>
<body>
    
    <nav>
        <ul class="nav-links">
            <div class="logo-container">
                <img class="logo" src="/static/Images/Logo.png">
            </div>
            <li><a href="/#aboutus">ABOUT US</a></li>
            <li><a href="/#contactus">CONTACT</a></li>
            <li><a href="/guides">GUIDES</a></li>
            <li><a href="/hotel">HOTEL</a></li>
            <h2 class="header">Ticket</h2>
        </ul>
    </nav>

    <div class="image-container">
        <img class="image" src="/static/Images/Animal.jpg" alt="An Image of a Lion">
    </div>

    <div class="welcome-container">
            <h1 class="welcome">Book A Ticket</h1>
    </div>

    <div class="forms-container">
        <form class="forms" action="{{url_for('ticket')}}" method="POST">
            <p>Choose the Day you would like to Visit:</p>
            <input type="date" name="dob" required>
            <p>Choose the Time you would like to Visit:</p>
            <input type="time" name="time" required>
            <br>
            <p> What Type of Ticket are you Purchasing:</p>
            <p class="types"> One Day Pass/Gift Card/ Annual Pass</p>
            <input type="text" name="types" required>
            <br>
            <div class="btn-container">
            <button type="submit" class="btn">Book a Ticket</button>
            </div>
        </form>

    <!--{% if message %}
        <p class="message {{message_type}}">{{message}}</p>
    {%endif%}-->

    </div>

    <script src="/static/homepage.js"></script>
</body>
</html>